gunicorn
Flask
Werkzeug
google-generativeai
beautifulsoup4
requests
markdown
python-dotenv
PyJWT
lxml_html_clean
langchain
langchain-google-genai
faiss-cpu
pypdf
langchain-community
faiss-cpu
Flask-JWT-Extended
google-generativeai
PyMuPDF
reportlab
youtube-transcript-api
pytube